

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: aquamarine;
}


ul {
	list-style: none;

  display: flex;
  flex-wrap: wrap;
  width: 1000px;
	margin: 50px auto;
}

li {
  width: 80px;
  height: 80px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: beige;
  border: 1px solid black;

	font-size: 20px;
}
